main {
  width: 100%;
  background-image: url(../img/header_dg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 110vh;
  margin-bottom: 50px;
  position: relative;
}
.header-section {
  width: 69vw;
  height: 156px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.burger {
  display: none;
}
.main-menu {
  width: 437px;
  margin-right: 40px;
}
.main-menu__list {
  display: flex;
  justify-content: space-around;
}
.main-menu__list__item {
  list-style-type: none;
}
.main-menu__list a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-family: "Graphik";
  font-weight: 400;
}
.main-menu__list__item a:hover {
  color: aqua;
}
.sotseti {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}
.sotseti a {
  margin-right: 20px;
}
.contener {
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contener h1 {
  width: 700px;
  color: #fff;
  font-family: "Graphik";
  font-weight: 700;
  font-size: 74px;
  text-align: center;
}
.contener p {
  width: 700px;
  text-align: center;
  color: #fff;
  font-family: "Graphik";
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 50px;
}
button {
  width: 236px;
  padding: 0 16px 0 16px;
  height: 52px;
  background-color: #2091f9;
  border-radius: 35px;
  border: 1px solid #2091f9;
  color: #fff;
  font-size: 20px;
}

button:hover {
  border: 1px solid #05325c;
  background-color: #05325c;
  color: #fff;
}
@media (max-width: 558px) {
  main {
    background-image: url(../img/background\ мов.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    background-position: center;
    background-size: cover;
    height: 130vh;
    margin-bottom: 50px;
    position: relative;
  }
  .header-section {
    width: 386px;
    height: 78px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
  }
  .main-menu {
    display: none;
  }
  .sotseti {
    display: none;
  }
  .burger {
    display: block;
    position: absolute;
    top: 20px;
    right: 5px;
    cursor: pointer;
  }
  .contener {
    width: 370px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contener h1 {
    width: 333px;
    color: #fff;
    font-family: "Graphik";
    font-weight: 400;
    font-size: 48px;
    text-align: center;
  }
  .contener p {
    width: 265px;
    text-align: center;
    color: #fff;
    font-family: "Graphik";
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 69px;
  }
  .modil {
    display: none;
  }
}
