.fastest {
  padding-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fastest__wrapper {
  margin: 0 100px 0 100px;
}

.fastest__wrapper h3 {
  width: 330px;
  font-family: "Graphik";
  font-weight: 300;
  font-size: 48px;
}
.fastest__wrapper h3 span {
  font-size: 20px;
  font-weight: 700;
  color: #252b42;
}
.fastest__wrapper p {
  width: 530px;

  font-family: "Graphik";
  font-weight: 300;
  font-size: 28px;
  color: #374754;
  margin-bottom: 100px;
}
.fastest__wrapper p span {
  font-size: 20px;
  font-weight: 700;
  color: #252b42;
}
.fastest__wrapper input {
  width: 273px;
  background-color: #e8e8e8;
  border-radius: 39px;
  padding: 19px 39px;
  margin-right: 20px;
}
input::-webkit-input-placeholder {
  color: #18171d;
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 558px) {
  .fastest {
    flex-direction: column;
  }
  .fastest__wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .fastest__wrapper p {
    width: 265px;
  }
  .fastest__wrapper button {
    margin-bottom: 59px;
  }
  .fastest__wrapper-foto img {
    width: 378px;
    height: 210px;
  }
  .fastest__wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fastest__wrapper form button {
    margin-top: 12px;
    width: 351px;
  }
  .fastest__wrapper input {
    margin-right: 0;
  }
}
