.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonials h2 {
  margin-bottom: 80px;
  font-family: "Graphik";
  font-weight: 400;
  font-size: 48px;
}
.testimonials > p {
  width: 987px;
  margin-top: 50px;
  font-family: "Graphik";
  font-weight: 400;
  font-size: 28px;
  color: #374754;
  text-align: center;
}
.testimoials_block {
  width: 186px;
  margin: 50px 0 80px 0;
  display: flex;
}
.testimoials_block img {
  margin-right: 13px;
}
.testimoials_block p:last-child {
  font-family: "Graphik";
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 558px) {
  .testimonials > p {
    width: 296px;
    font-family: "Graphik";
    font-weight: 700;
    font-size: 13px;
    color: #374754;
    text-align: center;
  }
}
